<div id="search">
  <form action="/store" method="get">

    <label for="desc">Description/SKU</label>
    <input type="text" name="desc" id="desc" value="{{query.desc}}" />

    <label for="minPrice">Min Price</label>
    <input
      type="number"
      name="minPrice"
      id="minPrice"
      value="{{query.minPrice}}"
    />

    <label for="maxPrice">Max Price</label>
    <input
      type="number"
      name="maxPrice"
      id="maxPrice"
      value="{{query.maxPrice}}"
    />

    <input type="submit" value="Search" class="btn btn-success" />
    <input
      type="button"
      value="Reset"
      class="btn btn-danger"
      class="cancel"
      onclick="cancelSearch()"
    />
  </form>
</div>
<div>
  <div class="table-responsive">
    <table class="table table-condensed">
      {{#if data}}
        <thead>
          <tr>
            <th>SKU</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity in Stock</th>
            {{#if user}}
            <th>Buy!</th>
            {{/if}}
          </tr>
        </thead>
      {{else}}
        <tr><td colspan="3">No Products found!</td></tr>
      {{/if}}
      <tbody>
        {{#each data}}
          <tr>
            <td>{{this.sku}}</td>
            <td>{{this.description}}</td>
            <td><img
                src="{{this.image}}"
                alt="picture of SKU {{this.sku}}"
                height="100"
              /></td>
            <td>${{this.price}}</td>
            <td>{{this.quantity}}</td>
            {{#if ../user}}
            <td>
              <form action="/buy" method="post">
                <input
                  type="number"
                  name="desired"
                  id="desired"
                  min="1"
                  max="99"
				  value="1"
                />
                <input type="hidden" name="id" value="{{this.id}}" />
                <input type="submit" value="Buy Now" />
              </form>
              <!--<a href="/products/buy/{{this.id}}">Buy Now!</a>-->
            </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>