<div>
  <div>
    <table class="table is-hoverable">
      {{#if data}}
        <thead>
          <tr>
            <th>SKU</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity in Stock</th>
            {{#if user}}
            <th>Buy!</th>
            {{/if}}
          </tr>
        </thead>
      {{else}}
        <tr><td colspan="3">No Products found!</td></tr>
      {{/if}}
      <tbody>
        {{#each data}}
          <tr>
            <td>{{this.sku}}</td>
            <td>{{this.description}}</td>
            <td><img class="image is-96x96"
                src="{{this.image}}"
                alt="picture of SKU {{this.sku}}"
                
              /></td>
            <td>${{this.price}}</td>
            <td>{{this.quantity}}</td>
            {{#if ../user}}
            <td>
              <form action="/buy" method="post">
                <input
                  type="number"
                  name="desired"
                  id="desired"
                  min="1"
                  max="99"
				  value="1"
                />
                <input type="hidden" name="id" value="{{this.id}}" />
                <input type="submit" value="Buy Now" />
              </form>
              <!--<a href="/products/buy/{{this.id}}">Buy Now!</a>-->
            </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>